<app-header></app-header>
<div class="main-panel">
  <div class="main-content">
    <p *ngIf="!listContacts">
      <em>Loading...</em>
    </p>

    <table class='table table-striped' *ngIf="listContacts">
      <thead class="thead-default">
        <tr>
          <th>Email</th>
          <th>Phone number</th>
          <th>Customer numner</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of listContacts" scope="row">
          <td>{{ contact.contactEmail }}</td>
          <td>{{ contact.phoneExt }} {{ contact.primaryPhone}}</td>
          <td>{{ contact.customerNumber }}</td>
          <td>
            Actions here
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>