<app-header></app-header>
<p *ngIf="!listUsers">
  <em>Loading...</em>
</p>

<table class='table' *ngIf="listUsers">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>User Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listUsers">
      <td>{{ user.userName }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.userRoleStr }}</td>
      <td>
        Actions here
      </td>
    </tr>
  </tbody>
</table>