/* You can add global styles to this file, and also import other style files */
@import "/assets/fonts/feather/style.min.css";
@import "/assets/fonts/simple-line-icons/style.css";
@import "/assets/fonts/font-awesome/css/font-awesome.min.css";
@import "/assets/css/perfect-scrollbar.min.css";
@import "/assets/css/prism.min.css";
@import "/assets/css/chartist.min.css";

body{
    margin: 0px;
    padding: 0px;
}

.ng-bar {
    background: #ff4e4e !important;
}
.ng-meteor { box-shadow:  #ff4e4e 0px 0px 10px, #ff4e4e 0px 0px 5px  !important;}
.ng-spinner-icon {
    border-top-color: #ff4e4e !important;
    border-left-color: #ff4e4e !important;
}